.pokemon-card {
  width: 14vw;
  height: 50vh;
  margin: 10px;
  cursor: pointer;
}

.pokemon-card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pokemon-card p:hover {
  color: rgb(179, 179, 179);
  width: min-content;
}

.pokemon-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white;
}

.pokemon-card img:hover {
  transform: scale(1.03);
  transition: 0.3s all ease;
  filter: grayscale(70%);
}

.card-image {
  height: 90%;
}

.card-image i {
  color: black;
  font-size: 30px;
  position: relative;
  bottom: 98%;
  left: 80%;
}

.card-image .blue{
  color: crimson;
}