* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor : black;
    --primary : white;
    --secondary : white;
}

body {
    background-color: var(--bgColor);
    color: var(--primary);
}

h1 {
    color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

.container {
    padding: 0 60px;
}
